body{
    text-align: center;
  
    
}
.card-body{
    display: flex;
    justify-content: space-between;
    width: 12rem;
    background-color:rgb(65, 27, 27);
    position: relative;
    padding: 10px;
    border-radius: 5%;
    border-style:solid;
    height: 300px;
    box-shadow: 10px 10px 5px grey ;
    
}
.user-icon{
    position: relative;
    left: 6rem;
    height: 53rem;
    size: 40%;
}
    

.content{
    font-family: sans-serif;
    position: absolute;
    top: 4rem;
    font-size: medium;
    color: white;
}
.icons{
    display: flex;
    width: 60%;
    justify-content: space-around;
    height: 20px;
    position: absolute;
    left: 2rem;
    top: 12rem;
    color: rgb(122, 22, 122);
}
.header{
   background: rgb(151, 146, 146);
   width:100%;
   position:absolute;
   top:15rem;
   right: 0rem;
   border-bottom-right-radius: 30%;
   border-bottom-left-radius: 30%;
   box-shadow: 10px 10px 5px rgb(65, 27, 27);
}
.header p{
    text-align: center;
    color: rgb(22, 19, 22);
    padding-top: 20px;
}