body{
    text-align: center;
  
    
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 12rem;
    background-color:rgb(65, 27, 27);
    padding: 10px;
    border-radius: 5%;
    border-style:solid;
    height: 300px;
    box-shadow: 10px 10px 5px grey ;
    
}
.user-icon{
    position: relative;
    left: 0rem;
}

.content{
    font-family: sans-serif;
    font-size: medium;
    color: white;
}
.icons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: rgb(122, 22, 122);
}
.header{
   background: rgb(151, 146, 146);
   width:100%;
   border-bottom-right-radius: 30%;
   border-bottom-left-radius: 30%;
   box-shadow: 10px 10px 5px rgb(65, 27, 27);
}

